// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
/*
@font-face {
  font-family: 'Yellowtail';
  src: local('Yellowtail'), url(~assets/Yellowtail-Regular.ttf);
} */

$container-padding-x: 24px;
$body-font-family: "Exo", sans-serif !default;
$btn-font-weight: 600;
$btn-letter-spacing: 0;
$btn-text-transform: normal !default;
$heading-font-family: "Exo" !default;
$highlight-font-family: "Yellowtail", "Exo", sans-serif;
$headings: (
  "h1": (
    "size": 1.8rem,
    "weight": 700,
    "line-height": 2.2rem,
    "letter-spacing": -0.015625em,
    "font-family": $heading-font-family,
    "text-transform": uppercase
  ),
  "h2": (
    "size": 1.5rem,
    "weight": 700,
    "line-height": 1.8rem,
    "letter-spacing": -0.0083333333em,
    "font-family": $heading-font-family,
    "text-transform": uppercase
  ),
  "h3": (
    "size": 1.3rem,
    "weight": 400,
    "line-height": 1.6rem,
    "letter-spacing": normal,
    "font-family": $heading-font-family,
    "text-transform": false
  ),
  "h4": (
    "size": 1.1rem,
    "weight": 400,
    "line-height": 1.3rem,
    "letter-spacing": 0.0073529412em,
    "font-family": $heading-font-family,
    "text-transform": false
  ),
  "h5": (
    "size": 1rem,
    "weight": 700,
    "line-height": 1.2rem,
    "letter-spacing": normal,
    "font-family": $heading-font-family,
    "text-transform": false
  ),
  "h6": (
    "size": 1rem,
    "weight": 400,
    "line-height": 1.2rem,
    "letter-spacing": 0.0125em,
    "font-family": $heading-font-family,
    "text-transform": false
  ),
  "subtitle-1": (
    "size": 1.6rem,
    "weight": normal,
    "line-height": 1.75rem,
    "letter-spacing": 0.009375em,
    "font-family": $highlight-font-family,
    "text-transform": false
  ),
  "subtitle-2": (
    "size": 0.875rem,
    "weight": 500,
    "line-height": 1.375rem,
    "letter-spacing": 0.0071428571em,
    "font-family": $body-font-family,
    "text-transform": false
  ),
  "body-1": (
    "size": 1rem,
    "weight": 400,
    "line-height": 1.5rem,
    "letter-spacing": 0.03125em,
    "font-family": $body-font-family,
    "text-transform": false
  ),
  "body-2": (
    "size": 0.875rem,
    "weight": 400,
    "line-height": 1.25rem,
    "letter-spacing": 0.0178571429em,
    "font-family": $body-font-family,
    "text-transform": false
  ),
  "button": (
    "size": 0.875rem,
    "weight": 500,
    "line-height": 2.25rem,
    "letter-spacing": 0.0892857143em,
    "font-family": $body-font-family,
    "text-transform": uppercase
  ),
  "caption": (
    "size": 0.75rem,
    "weight": 400,
    "line-height": 1.25rem,
    "letter-spacing": 0.0333333333em,
    "font-family": $body-font-family,
    "text-transform": false
  ),
  "overline": (
    "size": 0.75rem,
    "weight": 500,
    "line-height": 2rem,
    "letter-spacing": 0.1666666667em,
    "font-family": $body-font-family,
    "text-transform": uppercase
  )
);
.v-slide-group__next,
.v-slide-group__prev {
  position: absolute;
  z-index: 2;
  height: 100%;
}
.v-slide-group__next {
  right: 0; // -23px;
}
.v-slide-group__prev {
  left: 0; // -23px;
}
